{% extends 'base.html' %}

{% block title %}ABOUT{% endblock title %}

{% block body %}
<div class="card">
<div style="background-color: #c13131 ; padding: 0px; border: 1px solid red;">
  <div class="card-body">
    <h3>ABOUT US</h3>
  </div>
</div>

<div class="container-fluid px-0 my-0">
<img src="/static/ab2.gif"  class="d-block w-100" alt="...";>
<img src="/static/ra1f.gif"  class="d-block w-100" alt="...";>
<img src="/static/p1f.gif"  class="d-block w-100" alt="...";>


<footer class="bd-footer py-1 mt-1 bg-light">


  <div class="container py-5">
    <div class="row">
      <div class="text-center">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Musafirr Music">
          <img src="/static/logo12.PNG" width="80" height="80" class="d-block me-2"  role="img"><title>Musafirr Music</title><path fill-rule="evenodd" fill="currentColor"></path></svg>
          <span class="fs-5">Musafirr Music</span>
        </a>
        
        <ul class="list-unstyled small text-muted">
         
          <li class="mb-2">All rights reserved© Musafirr Music Production.</li>
          <li class="mb-2">Currently v1.0</li>
        </ul>
      </div>

      
</footer>


{% endblock body %}
