{% extends 'base.html' %}


{% block title %}RELEASES{% endblock title %}
{% block body %}

<div class="card">
<div style="background-color: #c13131 ; padding: 0px; border: 0px solid red;">
  <div class="card-body">
    <h3>RELEASES</h3>
  </div>
</div>

<div class="container-fluid my-4 ">
<div class="responsive">
<a href="https://linktr.ee/Piyushrahul_musafir" target="_blank" rel="noopener noreferrer" </a>
<img src="/static/yaadein1.jpg" class="img-fluid center" alt="..." style="padding: 20px; border: 30px;">
<img src="/static/banjara1.jpg" class="img-fluid" alt="..." style="padding: 10px; border: 0px">



</div>
</div>

{% endblock body %}
